/* Estilos CSS para a página VisualizarProcesso */
.container-visualizar-processo {
    position: absolute;
    padding: 2rem 5rem;
    text-align: center;
    margin: 20rem 50rem 20rem 50rem;
    background-color: ghostwhite;
    border: 2px solid black;
    border-radius: 0.5rem;
  }
  
  .container-visualizar-processo h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .container-visualizar-processo embed {
    width: 100%;
    height: 500px;
    margin-top: 1rem;
  }
  
  .container-visualizar-processo button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: ghostwhite;
    cursor: pointer;
  }
  
  .container-visualizar-processo button:hover {
    color: rgb(175, 114, 0);
  }
  